# Environment variables
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.mdf
*.ldf

# Python & Virtual Environment
__pycache__/
venv/
.venv/
env/
*.pyc
*.pyo

# Build outputs
dist/
build/
*.exe
*.dll

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# By Repo
settings.json
