# Environment variables
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.mdf
*.ldf

# Dependencies
node_modules/
vendor/
__pycache__/

# Build outputs
dist/
build/
*.exe
*.dll

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# By Repo
settings.json